<div id="job-details" class="col-md-10">
  <section class="page-title-section cover-background">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left">
          <h1>Proposta para a Vaga: <%= @job_proposal.job_application.job.title %></h1>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="padding-50px-right sm-no-padding-right">
            <div class="margin-50px-bottom sm-margin-40px-bottom xs-margin-35px-bottom">
              <h3>Empresa</h3>
              <p class="inner-title no-margin"><%= @job_proposal.company_name %></p>
            </div>
            <div class="margin-50px-bottom sm-margin-40px-bottom xs-margin-35px-bottom">
              <h3>Data de Início</h3>
              <p class="inner-title no-margin"><%= @job_proposal.init_date %></p>
            </div>
            <div class="margin-50px-bottom sm-margin-40px-bottom xs-margin-35px-bottom">
              <h3>Salário oferecido</h3>
              <p class="inner-title no-margin"><%= @job_proposal.salary %></p>
            </div>
            <div class="margin-50px-bottom sm-margin-40px-bottom xs-margin-35px-bottom">
              <h3>Benefícios oferecidos</h3>
              <p class="inner-title no-margin"><%= @job_proposal.benefits %></p>
            </div>
            <div class="margin-50px-bottom sm-margin-40px-bottom xs-margin-35px-bottom">
              <h3>Situação</h3>
              <p class="inner-title no-margin"><%= JobApplication.statuses.key(@job_proposal.status)&.capitalize %></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="job-details-section">
            <h4>Sobre a vaga</h4>
            <ul class="list-style-icon">
              <li>
                <%= fa_icon("money", text: "") %>
                <h6>Salário</h6>
                <p><%= number_to_currency @job_proposal.job_application.job.salary %></p>
              </li>
              <li>
                <%= fa_icon("group", text: "") %>
                <h6>Nível</h6>
                <p><%= Job.job_levels.key(@job_proposal.job_application.job.job_level).capitalize %></p>
              </li>
              <li>
                <%= fa_icon("calendar", text: "") %>
                <h6>Disponível até</h6>
                <p><%= @job_proposal.job_application.job.end_date.strftime("%d/%m/%Y") %></p>
              </li>
              <li>
                <%= fa_icon("map-marker", text: "") %>
                <h6>Local de Trabalhho</h6>
                <p><%= @job_proposal.job_application.job.local_job %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
