<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <%= render 'layouts/messages' %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Vagas</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <%= link_to('Cadastrar vaga', new_headhunters_admin_job_path, class: "btn btn-sm btn-outline-secondary") %>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>Título da vaga</th>
        <th>Nível</th>
        <th>Data de início</th>
        <th>Data limite</th>
        <th>Local de trabalho</th>
        <th>Headhunter</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= job.id %></td>
            <td><%= job.status %></td>
            <td><%= job.title %></td>
            <td><%= Job.job_levels.key(job.job_level) %></td>
            <td><%= job.start_date %></td>
            <td><%= job.end_date %></td>
            <td><%= job.local_job %></td>
            <td><%= job.headhunter.name %></td>
            <td>
              <%= link_to fa_icon("eye", text: ""), headhunters_admin_job_path(job), class: "btn btn-primary", name: "view-job" %>
              <%= link_to fa_icon("pencil", text: ""), edit_headhunters_admin_job_path(job), class: "btn btn-primary", name: "edit-job" %>
              <%= link_to fa_icon("times", text: ""), headhunters_admin_job_inactive_path(job_id: job.id), name: "inative-job", class: "btn btn-danger", method: "post", :data => {:confirm => 'Tem certeza?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</main>
