<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-5 px-4">
  <%= render 'layouts/messages' %>
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Veja as vagas que você se candidatou</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>Título da vaga</th>
        <th>Nível</th>
        <th>Data de Inscrição</th>
        <th>Situação</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
        <% @job_applications.each do |job_application| %>
          <tr>
            <td><%= job_application.id %></td>
            <td><%= job_application.job.title %></td>
            <td><%= Job.job_levels.key(job_application.job.job_level).capitalize %></td>
            <td><%= job_application.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= JobApplication.statuses.key(job_application.status)&.capitalize %></td>
            <td>
              <%= link_to fa_icon("eye", text: ""), candidates_admin_job_application_path(job_application.job), class: "btn btn-primary", name: "view-profile", title: "Ver Perfil" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
